<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" >
        <a href="/" class="navbar-brand">Hey Admin ! Sayfana HoşGeldin..</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenü">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenü">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" >Siparişler</a>
                 </li>
                 <li class="nav-item">
                        <a href="#" class="nav-link">Müşteriler</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link active">Ürün Ekle</a>
                     </li>
                     <li class="nav-item">
                        <a href="/Markalar" class="nav-link ">Markalar</a>
                     </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a href="/cikis" class="btn btn-outline-primary">Çıkış Yap</a>
                    </li>
                </ul>

        </div>

    </nav>
    <div class="container my-5" style="margin-top:100px;">
        <h3>ÜRÜN EKLEME PANELİ</h3>
        <HR>
        <form action="/urunEklemeYap"  method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">Ürün İsmi</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ürün ismi" name="urunismi">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Ürün Resmi</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ürünresmi" name="urunresmi">
            </div>
            <div class="form-group">
                    <label for="formGroupExampleInput2">Ürün Fiyatı</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="₺" name="fiyati">
                  </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Marka ID</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="markaId" name="markaId" >
            </div>
            <button type="submit" class="btn btn-danger">Ekle</button>
          
          {% if tumVeri==[] %}
          <div class="alert alert-warning" role="alert">Herhangi bir ürün yok...</div>
          {% else %}
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">ÜrünId</th>
                      <th scope="col">Ürünİsmi</th>
                      <th scope="col">ÜrünResmi </th>
                      <th scope="col">ÜrünFiyatı</th>
                      <th scope="col">MarkaId</th>
                      <th scope="col">Sil</th>
                      <th scope="col">Güncelle</th>
                  </tr>
              </thead>
              <tbody>
                
                {% for veri in tumVeri  %}
                    <tr>
                        <th scope="row">{{veri.urun_id}}</th>
                        <td>{{veri.urunismi}}</td>
                        <td>{{veri.urunresmi}}</td>
                        <td>{{veri.urunFiyati}}</td>
                        <td>{{veri.markaId}}</td>
                        <td><a href="/sil/{{veri.urun_id}}" class="btn btn-danger">Sil</a></td>
                        <td><a href="/guncelle/{{veri.urun_id}}" class="btn btn-info">Güncelle</a></td>
                    </tr>
                {% endfor %}
                    

              </tbody>
          </table>
            
          {% endif %}
        </form>
  </div>
                    
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        AOS.init();
      </script>
  </body>
</html>